body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.Header {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: red;
    
}

#questionPlacement{
    width: fit-content;
    font-size: 5em;
   
}


#ansChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: 10vh; */
    width: fit-content;
    width: 75%;
    
}

h2 {
    color: white;
    font-size: 3em;
    margin: 1%;
    color: orange;
    
}


.startGamecontainter {
    display:flex;
    justify-content: center;
    
}
#startGame {
   font-size: 4em;
}

.rightwrong {
    display: flex;
    justify-content: center;
    border-top: .1em solid blue;
    width: 100%;
}
#rightWrong {
    font-size: 3em;
    color: blue;
    
}

#timer {
    color: white;
    font-size: 1.5em;
}
